
h2{
	padding-left: 20px;
}

div.rightbox p{
	text-align: justify;
	padding-left: 10px;
	color: white;
}

#Contenu div.aside aside.titre {
	border-radius: 10px;
	border:1px solid black;
}

#Contenu div.aside aside.menu {
	border-radius: 10px;
}

